header {
    border: 1px solid darkred;
    background-color: darkseagreen;
}

main {
    border: 1px solid navy;
    background-color: darkgoldenrod;
}

article {
    border: 1px solid lightslategrey;
    background-color: lightcoral;
}

section {
    border: 1px solid lightyellow;
    background-color: lightskyblue;
}

div {
    border: 1px dotted darkmagenta;
    background-color: lightcyan;
}

footer {
    border: 5px solid darkgreen;
    background-color: hotpink;
}