/** CSS STYLE **/

.fixed-block {
    position: fixed;
}

.normal-block {
    position: relative;
}

.flexbox {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.head {
    margin: auto;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

.tail {
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-menu_align-center {
    align-items: center
}

;

/** Basic content: setting fonts, colours and margins for header & footer **/

.page {
    margin: auto;
}

.content {
    font-family: sans-serif;
    font-size: 16px;
    color: #303846;
    top: 50px;
    margin-left: 0;
    margin-right: 0;
    bottom: 100px;
    justify-content: center;
}

.content__container {
    max-width: 1920px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.top-menu {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.top-menu__logo {
    flex-direction: row;
    justify-content: flex-start;
}

.top-menu__icon {
    background-image: url(../images/logo.svg);
    width: 50px;
    height: 50px;
}

.top-menu__name {
    margin-left: 10px;
}

.top-menu__nav {
    justify-content: flex-end;
    flex-wrap: no-wrap;
}

.top-menu__nav-item {
    margin: auto 10px auto 10px;
}

.content__booking-area {
    background-image: url(../images/moonscape.png);
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    background-color: green;
}