/** CSS STYLE **/

.global {
	position: relative;
	font-family: sans-serif;
	max-width: 1920px;
	font-size: 16px;
	color: #303846;
}

.global__nav-item {
	list-style: none outside;
	margin: 0;
	padding: 0;
	display: flex;
}

.header {
	position: fixed;
	height: 55px;
	top: 0;
	left: 0;
	right: 0;
	max-height: 55px;
}

.header__content {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.main {
	position: fixed;
	top: 55px;
	bottom: 100px;
	left: 0;
	right: 0;
}

.footer {
	position: fixed;
	height: 100px;
	bottom: 0;
	left: 0;
	right: 0;
}

.main__content {
	position: relative;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

.footer__content {
	position: relative;
	margin: 0 auto;
}

.header__logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.logo__icon {
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.logo__icon_place_header {
	background-size: 50px 50px;
	height: 55px;
	width: 55px;
}

.logo__name {
	margin-left: 10px;
}

.header__menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: no-wrap;
	align-items: center;
}

.menu__item {
	margin: auto 10px auto 10px;
	text-decoration: none;
}

.menu__item:hover {
	text-decoration: underline;
}

.booking-area {
	background-image: url(../images/moonscape.png);
	background-size: cover;
	background-position: center;
	background-origin: padding-box;
	width: 100%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo__icon_place_booking-area {
	background-size: 150px;
	height: 150px;
	width: 150px;
	margin: 20px auto;
}

.booking-area__name {
	font-size: 24px;
	line-height: 1.25;
	font-weight: 900;
	text-align: center;
	color: whitesmoke;
}

.booking-area__motto {
	font-weight: 200;
	font-size: 14px;
	line-height: 1.15;
	color: whitesmoke;
}

.booking-area__button {
}

/* Отладочные свойства , снять перед выкаткой в тестовую эксплуатацию / Dev-deps, to be removed before staging
    Выделение тэгов блоков стилем границ / Block tag distinguishing by border style */

header {
	border-style: groove;
	border-color: lightslategrey;
}

main {
	border-style: double;
	border-color: lightslategrey;
}

footer {
	border-style: ridge;
	border-color: lightslategrey;
}

div {
	border-style: solid;
	border-color: lightslategrey;
}

section {
	border-style: dotted;
	border-color: lightslategrey;
}

article {
	border-style: dashed;
	border-color: lightslategrey;
}

h1 {
	border-style: ridge;
	border-color: thistle;
}

h2 {
	border-style: ridge;
	border-color: lightpink;
}
